<div class="container">
    <h1>Login</h1>
    <form action="" method="POST">
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="" class="form-control">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" name="" class="form-control">
        </div>

        <div class="form-group">
            <label>Project name</label>
            <input type="text" name="" class="form-control">
        </div>

        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>

