<div class="container">
    <h1>Create a new account</h1>
    <h6>{{ userSignupForm.value | json }}</h6>
    <form #userSignupForm="ngForm">
        <div class="form-group">
            <!-- nice -->
            <label>Email</label> 
            <input type="email" name="email" class="form-control" ngModel>
        </div>

        <div class="form-group">
            <label>Fullname</label>
            <input type="text" name="fullname" class="form-control" ngModel>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ngModel>
        </div>

        <div class="form-group">
            <label>User Type</label>
            <select class="custom-select" name="usertype" ngModel>
                <option selected>I am signing up as</option>
                <option *ngFor="let type of userTypes">{{ type }}</option>
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Create Account</button>
    </form>
</div>
